page-home {

    .button-md{
        width: 100% !important;
        height: 4em !important;
    }

    .click_area{
        width: 280px;
        height: 270px;
        margin: auto;
        display: block;
    }

    .buttons_{
        margin-top: 300px;
    }

    .lightbulb_off {
        background: transparent;
        height: 10px;
        width: 10px;
        box-shadow: 
          50px 0 0 #CCC, 
          60px 0 0 #CCC,
          70px 0 0 #CCC, 
          80px 0 0 #CCC,
          90px 0 0 #CCC, 
          100px 0 0 #CCC,
          110px 0 0 #CCC,
          30px 10px 0 #CCC,
          40px 10px 0 #CCC,
          50px 10px 0 #CCC,
          60px 10px 0 #EEE,
          70px 10px 0 #EEE,
          80px 10px 0 #EEE,
          90px 10px 0 #EEE,
          100px 10px 0 #EEE,
          110px 10px 0 #CCC,
          120px 10px 0 #CCC,
          130px 10px 0 #CCC,
          20px 20px 0 #CCC,
          30px 20px 0 #CCC,
          40px 20px 0 #EEE,
          50px 20px 0 #EEE,
          60px 20px 0 #FFF,
          70px 20px 0 #FFF,
          80px 20px 0 #FFF,
          90px 20px 0 #EEE,
          100px 20px 0 #EEE,
          110px 20px 0 #EEE,
          120px 20px 0 #EEE,
          130px 20px 0 #CCC,
          140px 20px 0 #CCC,
          20px 30px 0 #CCC,
          30px 30px 0 #EEE,
          40px 30px 0 #EEE,
          50px 30px 0 #FFF,
          60px 30px 0 #FFF,
          70px 30px 0 #FFF,
          80px 30px 0 #EEE,
          90px 30px 0 #EEE,
          100px 30px 0 #EEE,
          110px 30px 0 #EEE,
          120px 30px 0 #EEE,
          130px 30px 0 #EEE,
          140px 30px 0 #CCC,
          20px 40px 0 #CCC,
          30px 40px 0 #EEE,
          40px 40px 0 #FFF,
          50px 40px 0 #FFF,
          60px 40px 0 #FFF,
          70px 40px 0 #EEE,
          80px 40px 0 #EEE,
          90px 40px 0 #EEE,
          100px 40px 0 #EEE,
          110px 40px 0 #EEE,
          120px 40px 0 #EEE,
          130px 40px 0 #EEE,
          140px 40px 0 #CCC,
          10px 50px 0 #CCC,
          20px 50px 0 #CCC,
          30px 50px 0 #EEE,
          40px 50px 0 #EEE,
          50px 50px 0 #EEE,
          60px 50px 0 #EEE,
          70px 50px 0 #EEE,
          80px 50px 0 #EEE,
          90px 50px 0 #EEE,
          100px 50px 0 #EEE,
          110px 50px 0 #EEE,
          120px 50px 0 #EEE,
          130px 50px 0 #EEE,
          140px 50px 0 #CCC,
          150px 50px 0 #CCC,
          10px 60px 0 #CCC,
          20px 60px 0 #EEE,
          30px 60px 0 #EEE,
          40px 60px 0 #EEE,
          50px 60px 0 #EEE,
          60px 60px 0 #AAA,
          70px 60px 0 #EEE,
          80px 60px 0 #AAA,
          90px 60px 0 #EEE,
          100px 60px 0 #AAA,
          110px 60px 0 #EEE,
          120px 60px 0 #EEE,
          130px 60px 0 #EEE,
          140px 60px 0 #EEE,
          150px 60px 0 #CCC,
          10px 70px 0 #CCC,
          20px 70px 0 #EEE,
          30px 70px 0 #EEE,
          40px 70px 0 #EEE,
          50px 70px 0 #AAA,
          60px 70px 0 #EEE,
          70px 70px 0 #AAA,
          80px 70px 0 #EEE,
          90px 70px 0 #AAA,
          100px 70px 0 #EEE,
          110px 70px 0 #AAA,
          120px 70px 0 #EEE,
          130px 70px 0 #EEE,
          140px 70px 0 #EEE,
          150px 70px 0 #CCC,
          10px 80px 0 #CCC,
          20px 80px 0 #EEE,
          30px 80px 0 #EEE,
          40px 80px 0 #EEE,
          50px 80px 0 #AAA,
          60px 80px 0 #EEE,
          70px 80px 0 #EEE,
          80px 80px 0 #EEE,
          90px 80px 0 #EEE,
          100px 80px 0 #EEE,
          110px 80px 0 #AAA,
          120px 80px 0 #EEE,
          130px 80px 0 #EEE,
          140px 80px 0 #EEE,
          150px 80px 0 #CCC,
          10px 90px 0 #CCC,
          20px 90px 0 #EEE,
          30px 90px 0 #EEE,
          40px 90px 0 #EEE,
          50px 90px 0 #EEE,
          60px 90px 0 #AAA,
          70px 90px 0 #EEE,
          80px 90px 0 #EEE,
          90px 90px 0 #EEE,
          100px 90px 0 #AAA,
          110px 90px 0 #EEE,
          120px 90px 0 #EEE,
          130px 90px 0 #EEE,
          140px 90px 0 #EEE,
          150px 90px 0 #CCC,
          10px 100px 0 #CCC,
          20px 100px 0 #CCC,
          30px 100px 0 #EEE,
          40px 100px 0 #EEE,
          50px 100px 0 #EEE,
          60px 100px 0 #EEE,
          70px 100px 0 #AAA,
          80px 100px 0 #EEE,
          90px 100px 0 #AAA,
          100px 100px 0 #EEE,
          110px 100px 0 #EEE,
          120px 100px 0 #EEE,
          130px 100px 0 #EEE,
          140px 100px 0 #CCC,
          150px 100px 0 #CCC,
          20px 110px 0 #CCC,
          30px 110px 0 #CCC,
          40px 110px 0 #EEE,
          50px 110px 0 #EEE,
          60px 110px 0 #EEE,
          70px 110px 0 #AAA,
          80px 110px 0 #EEE,
          90px 110px 0 #AAA,
          100px 110px 0 #EEE,
          110px 110px 0 #EEE,
          120px 110px 0 #EEE,
          130px 110px 0 #CCC,
          140px 110px 0 #CCC,
          30px 120px 0 #CCC,
          40px 120px 0 #EEE,
          50px 120px 0 #EEE,
          60px 120px 0 #EEE,
          70px 120px 0 #AAA,
          80px 120px 0 #EEE,
          90px 120px 0 #AAA,
          100px 120px 0 #EEE,
          110px 120px 0 #EEE,
          120px 120px 0 #EEE,
          130px 120px 0 #CCC,
          30px 130px 0 #CCC,
          40px 130px 0 #CCC,
          50px 130px 0 #EEE,
          60px 130px 0 #EEE,
          70px 130px 0 #AAA,
          80px 130px 0 #AAA,
          90px 130px 0 #AAA,
          100px 130px 0 #EEE,
          110px 130px 0 #EEE,
          120px 130px 0 #CCC,
          130px 130px 0 #CCC,
          40px 140px 0 #CCC,
          50px 140px 0 #CCC,
          60px 140px 0 #EEE,
          70px 140px 0 #AAA,
          80px 140px 0 #AAA,
          90px 140px 0 #AAA,
          100px 140px 0 #EEE,
          110px 140px 0 #CCC,
          120px 140px 0 #CCC,
          50px 150px 0 #CCC,
          60px 150px 0 #EEE,
          70px 150px 0 #AAA,
          80px 150px 0 #AAA,
          90px 150px 0 #AAA,
          100px 150px 0 #EEE,
          110px 150px 0 #CCC,
          50px 160px 0 #CCC,
          60px 160px 0 #CCC,
          70px 160px 0 #AAA,
          80px 160px 0 #AAA,
          90px 160px 0 #AAA,
          100px 160px 0 #CCC,
          110px 160px 0 #CCC,
          60px 170px 0 #666,
          70px 170px 0 #888,
          80px 170px 0 #888,
          90px 170px 0 #888,
          100px 170px 0 #666,
          60px 180px 0 #666,
          70px 180px 0 #666,
          80px 180px 0 #888,
          90px 180px 0 #888,
          100px 180px 0 #666,
          60px 190px 0 #666,
          70px 190px 0 #888,
          80px 190px 0 #888,
          90px 190px 0 #666,
          100px 190px 0 #666,
          60px 200px 0 #666,
          70px 200px 0 #666,
          80px 200px 0 #888,
          90px 200px 0 #888,
          100px 200px 0 #666,
          70px 210px 0 #666,
          80px 210px 0 #888,
          90px 210px 0 #888,
          100px 180px 0 #666;
        margin: auto;
        transform: translate(-75px, 50px);
    }
      
      .lightbulb_on {
        background: transparent;
        height: 10px;
        width: 10px;
        box-shadow:
          80px -40px 0 #fff,
          80px -30px 0 #fff,
          -30px 0px 0 #fff,
          50px 0 0 #FF6, 
          60px 0 0 #FF6,
          70px 0 0 #FF6, 
          80px 0 0 #FF6,
          90px 0 0 #FF6, 
          100px 0 0 #FF6,
          110px 0 0 #FF6,
          190px 0px 0 #fff,
          -20px 10px 0 #fff,
          30px 10px 0 #FF6,
          40px 10px 0 #FF6,
          50px 10px 0 #FF6,
          60px 10px 0 #FF9,
          70px 10px 0 #FF9,
          80px 10px 0 #FF9,
          90px 10px 0 #FF9,
          100px 10px 0 #FF9,
          110px 10px 0 #FF6,
          120px 10px 0 #FF6,
          130px 10px 0 #FF6,
          180px 10px 0 #fff,
          20px 20px 0 #FF6,
          30px 20px 0 #FF6,
          40px 20px 0 #FF9,
          50px 20px 0 #FF9,
          60px 20px 0 #FFF,
          70px 20px 0 #FFF,
          80px 20px 0 #FFF,
          90px 20px 0 #FF9,
          100px 20px 0 #FF9,
          110px 20px 0 #FF9,
          120px 20px 0 #FF9,
          130px 20px 0 #FF6,
          140px 20px 0 #FF6,
          20px 30px 0 #FF6,
          30px 30px 0 #FF9,
          40px 30px 0 #FF9,
          50px 30px 0 #FFF,
          60px 30px 0 #FFF,
          70px 30px 0 #FFF,
          80px 30px 0 #FF9,
          90px 30px 0 #FF9,
          100px 30px 0 #FF9,
          110px 30px 0 #FF9,
          120px 30px 0 #FF9,
          130px 30px 0 #FF9,
          140px 30px 0 #FF6,
          20px 40px 0 #FF6,
          30px 40px 0 #FF9,
          40px 40px 0 #FFF,
          50px 40px 0 #FFF,
          60px 40px 0 #FFF,
          70px 40px 0 #FF9,
          80px 40px 0 #FF9,
          90px 40px 0 #FF9,
          100px 40px 0 #FF9,
          110px 40px 0 #FF9,
          120px 40px 0 #FF9,
          130px 40px 0 #FF9,
          140px 40px 0 #FF6,
          10px 50px 0 #FF6,
          20px 50px 0 #FF6,
          30px 50px 0 #FF9,
          40px 50px 0 #FF9,
          50px 50px 0 #FF9,
          60px 50px 0 #FF9,
          70px 50px 0 #FF9,
          80px 50px 0 #FF9,
          90px 50px 0 #FF9,
          100px 50px 0 #FF9,
          110px 50px 0 #FF9,
          120px 50px 0 #FF9,
          130px 50px 0 #FF9,
          140px 50px 0 #FF6,
          150px 50px 0 #FF6,
          10px 60px 0 #FF6,
          20px 60px 0 #FF9,
          30px 60px 0 #FF9,
          40px 60px 0 #FF9,
          50px 60px 0 #FF9,
          60px 60px 0 #AAA,
          70px 60px 0 #FF9,
          80px 60px 0 #AAA,
          90px 60px 0 #FF9,
          100px 60px 0 #AAA,
          110px 60px 0 #FF9,
          120px 60px 0 #FF9,
          130px 60px 0 #FF9,
          140px 60px 0 #FF9,
          150px 60px 0 #FF6,
          10px 70px 0 #FF6,
          20px 70px 0 #FF9,
          30px 70px 0 #FF9,
          40px 70px 0 #FF9,
          50px 70px 0 #AAA,
          60px 70px 0 #FF9,
          70px 70px 0 #AAA,
          80px 70px 0 #FF9,
          90px 70px 0 #AAA,
          100px 70px 0 #FF9,
          110px 70px 0 #AAA,
          120px 70px 0 #FF9,
          130px 70px 0 #FF9,
          140px 70px 0 #FF9,
          150px 70px 0 #FF6,
          -30px 80px 0 #fff,
          -20px 80px 0 #fff,
          10px 80px 0 #FF6,
          20px 80px 0 #FF9,
          30px 80px 0 #FF9,
          40px 80px 0 #FF9,
          50px 80px 0 #AAA,
          60px 80px 0 #FF9,
          70px 80px 0 #FF9,
          80px 80px 0 #FF9,
          90px 80px 0 #FF9,
          100px 80px 0 #FF9,
          110px 80px 0 #AAA,
          120px 80px 0 #FF9,
          130px 80px 0 #FF9,
          140px 80px 0 #FF9,
          150px 80px 0 #FF6,
          180px 80px 0 #fff,
          190px 80px 0 #fff,
          10px 90px 0 #FF6,
          20px 90px 0 #FF9,
          30px 90px 0 #FF9,
          40px 90px 0 #FF9,
          50px 90px 0 #FF9,
          60px 90px 0 #AAA,
          70px 90px 0 #FF9,
          80px 90px 0 #FF9,
          90px 90px 0 #FF9,
          100px 90px 0 #AAA,
          110px 90px 0 #FF9,
          120px 90px 0 #FF9,
          130px 90px 0 #FF9,
          140px 90px 0 #FF9,
          150px 90px 0 #FF6,
          10px 100px 0 #FF6,
          20px 100px 0 #FF6,
          30px 100px 0 #FF9,
          40px 100px 0 #FF9,
          50px 100px 0 #FF9,
          60px 100px 0 #FF9,
          70px 100px 0 #AAA,
          80px 100px 0 #FF9,
          90px 100px 0 #AAA,
          100px 100px 0 #FF9,
          110px 100px 0 #FF9,
          120px 100px 0 #FF9,
          130px 100px 0 #FF9,
          140px 100px 0 #FF6,
          150px 100px 0 #FF6,
          20px 110px 0 #FF6,
          30px 110px 0 #FF6,
          40px 110px 0 #FF9,
          50px 110px 0 #FF9,
          60px 110px 0 #FF9,
          70px 110px 0 #AAA,
          80px 110px 0 #FF9,
          90px 110px 0 #AAA,
          100px 110px 0 #FF9,
          110px 110px 0 #FF9,
          120px 110px 0 #FF9,
          130px 110px 0 #FF6,
          140px 110px 0 #FF6,
          30px 120px 0 #FF6,
          40px 120px 0 #FF9,
          50px 120px 0 #FF9,
          60px 120px 0 #FF9,
          70px 120px 0 #AAA,
          80px 120px 0 #FF9,
          90px 120px 0 #AAA,
          100px 120px 0 #FF9,
          110px 120px 0 #FF9,
          120px 120px 0 #FF9,
          130px 120px 0 #FF6,
          30px 130px 0 #FF6,
          40px 130px 0 #FF6,
          50px 130px 0 #FF9,
          60px 130px 0 #FF9,
          70px 130px 0 #AAA,
          80px 130px 0 #AAA,
          90px 130px 0 #AAA,
          100px 130px 0 #FF9,
          110px 130px 0 #FF9,
          120px 130px 0 #FF6,
          130px 130px 0 #FF6,
          40px 140px 0 #FF6,
          50px 140px 0 #FF6,
          60px 140px 0 #FF9,
          70px 140px 0 #AAA,
          80px 140px 0 #AAA,
          90px 140px 0 #AAA,
          100px 140px 0 #FF9,
          120px 140px 0 #FF6,
          110px 140px 0 #FF6,
          0px 150px 0 #fff,
          50px 150px 0 #FF6,
          60px 150px 0 #FF9,
          70px 150px 0 #AAA,
          80px 150px 0 #AAA,
          90px 150px 0 #AAA,
          100px 150px 0 #FF9,
          110px 150px 0 #FF6,
          160px 150px 0 #fff,
          -10px 160px 0 #fff,
          50px 160px 0 #FF6,
          60px 160px 0 #FF6,
          70px 160px 0 #AAA,
          80px 160px 0 #AAA,
          90px 160px 0 #AAA,
          100px 160px 0 #FF6,
          110px 160px 0 #FF6,
          170px 160px 0 #fff,
          60px 170px 0 #666,
          70px 170px 0 #888,
          80px 170px 0 #888,
          90px 170px 0 #888,
          100px 170px 0 #666,
          60px 180px 0 #666,
          70px 180px 0 #666,
          80px 180px 0 #888,
          90px 180px 0 #888,
          100px 180px 0 #666,
          60px 190px 0 #666,
          70px 190px 0 #888,
          80px 190px 0 #888,
          90px 190px 0 #666,
          100px 190px 0 #666,
          60px 200px 0 #666,
          70px 200px 0 #666,
          80px 200px 0 #888,
          90px 200px 0 #888,
          100px 200px 0 #666,
          70px 210px 0 #666,
          80px 210px 0 #888,
          90px 210px 0 #888;
        margin: auto;
        transform: translate(-75px, 50px);
      }

}
